doctype html
html

	head
		title Currency Converter
		link(rel="stylesheet", href="stylesheets/currency_style.css")
	body
		img(src="images/kitty.jpg")		

		block content

		hr
		a(href="about") About this site